body {
  background-image: url(background.jpg);
  background-size: 200%;
  font-family: sans-serif;
  font-size: x-large;
}

a,
a:visited {
  color: deeppink;
  text-decoration: none;
}

h1 {
  color: mediumvioletred;
}

button {
  margin-top: 20px;
  width: 50%;
  max-width: 200px;
  font-size: 25px;
  line-height: 50px;
  color: mediumvioletred;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid deeppink;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
}

th,
td {
  border: 1px solid deeppink;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

th {
  background-color: rgba(255, 200, 255, 0.7);
}

footer {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.training {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.large-kana {
  font-size: 150px;
  padding: 30px 30px 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.message {
  background: rgba(255, 255, 255, 0.5);
  line-height: 25px;
  height: 40px;
  padding-right: 25px;
}

/* Hack to colorize check mark:
 * Set background color, and use the text as a mask */
.message--correct::before,
.message--wrong::before {
  padding-right: 10px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message--correct::before {
  content: "✔️";
  background-color: limegreen;
}

.message--wrong::before {
  content: "✖️";
  background-color: red;
  position: relative;
  top: 2px;
}

.answer {
  font-size: 75px;
  text-align: center;
}

.correct {
  color: limegreen;
  background-color: rgb(200, 255, 200, 0.7);
}

.wrong {
  color: red;
  background-color: rgb(255, 200, 200, 0.7);
}
